<div class="container-fluid text-center">
    <div class="container" style="width: 60%">
        <h3>Edição de Cliente</h3>
        <form name="cliente" ng-submit="updateCustomer()">
        <div class="input-group " style="width: 100%; margin-bottom: 5px">
            <span class="input-group-addon" id="name-addon" style="width: 16%">Nome</span>
            <input name="name" id="name-field" type="text" class="form-control" aria-describedby="name-addon" ng-model="customer.name" required disabled>
        </div>
        <div class="input-group" style="width: 100%; margin-bottom: 5px">
            <span class="input-group-addon" id="cpf-addon" style="width: 16%">CPF</span>
            <input name="cpf" id="cpf-field" type="text" class="form-control" pattern="\d{3}.\d{3}.\d{3}-\d{2}" aria-describedby="cpf-addon"
                   ng-model="customer.cpf" required disabled>
        </div>
        <div class="input-group" style="width: 100%; margin-bottom: 5px">
            <span class="input-group-addon" id="email-addon" style="width: 16%">Email</span>
            <input name="email" id="email-field" type="email" class="form-control" aria-describedby="email-addon" ng-model="customer.email" required
            ng-class="{ success: formCliente.email.$valid && !formCliente.email.$pristine, danger: formCliente.email.$invalid && !formCliente.email.$pristine}">
        </div>
        <p class="alert-text" ng-show="formCliente.email.$invalid && !formCliente.email.$pristine">Por favor, insira um email válido</p>
        <div class="input-group" style="width: 100%; margin-bottom: 5px">
            <span class="input-group-addon" id="phone-addon" style="width: 16%">Telefone</span>
            <input name="phone" id="phone-field" type="text" class="form-control" aria-describedby="phone-addon" ng-model="customer.phone" required
            ng-class="{ success: formCliente.phone.$valid && !formCliente.phone.$pristine, danger: formCliente.phone.$invalid && !formCliente.phone.$pristine}">
        </div>
        <p class="alert-text" ng-show="formCliente.phone.$invalid && !formCliente.phone.$pristine">Por favor, insira um número de telefone para contato.</p>
        <div class="input-group" style="width: 100%; margin-bottom: 5px">
            <span class="input-group-addon" id="address-addon" style="width: 16%">Endereço</span>
            <input name="address" id="address-field" type="text" class="form-control" aria-describedby="address-addon" ng-model="customer.address" required
            ng-class="{ success: formCliente.address.$valid && !formCliente.address.$pristine, danger: formCliente.address.$invalid && !formCliente.address.$pristine}">
        </div>
        <p class="alert-text" ng-show="formCliente.address.$invalid && !formCliente.address.$pristine">Por favor, insira um endereço para contato.</p>
        <div class="input-group" style="width: 100%">
            <span class="input-group-addon" id="domains-addon" style="width: 16%">Domínios</span>
            <input name="domains" id="domains-field" type="text" class="form-control" aria-describedby="address-addon" ng-model="customer.domains" required
            ng-class="{ success: formCliente.domains.$valid && !formCliente.domains.$pristine, danger: formCliente.domains.$invalid && !formCliente.domains.$pristine}">
        </div>
        <p class="alert-text" ng-show="formCliente.address.$invalid && !formCliente.address.$pristine">Por favor, insira um ou mais domínios para o processamento.</p>
        <p style="font-size: small;">Separe os domínios com vírgulas.</p>
        <button id="save-button" class="btn btn-primary" type="submit" ng-disabled="formCliente.$invalid">Salvar</button>
        </form>
    </div>
</div>