<div class="alert alert-danger" ng-show="page_load_error"> {{ customers.length }}</div>

<div ng-show="!finished_loading"><h4 style="color: #aaaaaa"> Loading ... please wait a moment </h4></div>

<div ng-show="finished_loading">{{ customers.length }}</div>

<div class="container-fluid">
    <h3>Listagem de Clientes</h3>
    <a id="link-novo" href="/#/novo_cliente/">
        <button id="btn-link-novo" class="btn btn-primary" type="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" style="margin-right: 3px"></span>Novo Cliente
        </button>
    </a>
    <table id="customer-list">
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Domínios</th>
            <th>Edição</th>
        </tr>
        <tr ng-repeat="customer in customers.customers | orderBy: 'name'" id="{{ 'cust' + customer.id }}">
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.domains }}</td>
            <td>
                <a href="/#/edita_cliente/{{customer.id}}">
                    <button id="{{ 'edita' + customer.id }}" type="button" class="btn" aria-label="Edit Customer">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                </a>
                <a ng-href="#here" ng-click="deleteCustomer(customer.id)">
                    <button id="{{ 'apaga' + customer.id }}" type="button" class="btn" aria-label="Delete Customer">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </a>
            </td>
        </tr>
    </table>
</div>
