
body {
    padding: 50px;
}

.customer {
    width: 300px;
    min-height: 150px;
    float: left;
    margin: 10px;
}
.customer-editor {
    width: 600px;
    float: left;
    margin: 10px;
}

.customer-editor textarea {
    border-color: #dddddd;
}

.smaller {
    font-size: 15pt;
}

.lighter {
    color: #aaaaaa;
}

p.preparation {white-space: pre}

.right-button {
    float: right;
    padding: 10px;
    font-size: 125%;
}

.bs-callout{padding:10px 20px;margin:10px 0;border:1px solid #eee;border-left-width:5px;border-radius:3px}
.bs-callout h4{margin-top:0;margin-bottom:5px}
.bs-callout-info{border-left-color:#1b809e}
.bs-callout-info h4{color:#1b809e}

table {
    border-radius: 5px;
    width: 100%;
}

th {
    font-weight: 700;
}

td, th {
    border: 1px solid #eeeeee;
    text-align: left;
    padding: 8px;
}

tr:hover {
    background-color: #fefefe;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

button.btn.btn-primary {
    margin-bottom: 18px;
    width: 140px;
    height: 40px;
}

.success {
    background-color: #ddffdd;
}

.danger {
    background-color: #ffdddd;
}

.alert-text {
    font-size: small;
    color: red;
}